#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@media screen and (max-width: 550px) {
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    font-size: 17px;
    width: 50%;
  }

  .tablink:hover {
    background-color: #777;
  }

  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    font-size: 1.3em;
  }

  #left {
    background: linear-gradient(to bottom left, #ff66cc 0%, #ff6666 75%);
  }

  #right {
    background: linear-gradient(to bottom right, #0066cc 0%, #2eb8b8 75%);
  }

  * {
    box-sizing: border-box;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    resize: vertical;
    transition: 0.5s;
    outline: none;
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 2px solid #000;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #fff;
  }

  input[type="button"] {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #fff;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    float: right;
    margin-top: 2%;
    width: 100%;
    transition: 0.5s;
  }

  input[type="button"]:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
  }

  .container {
    background-color: #555;
    padding: 20px;
    width: 100%;
    float: right;
  }

  .col-25 {
    float: left;
    width: 100%;
    margin-top: 0;
  }

  .col-75 {
    float: left;
    width: 100%;
    margin-top: 0;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (min-width: 550px) {
  .tab {
    width: 100%;
  }

  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px;
    font-size: 17px;
    width: 50%;
  }

  .tablink:hover {
    background-color: #777;
  }

  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    font-size: 1.2em;
  }

  #left {
    background: linear-gradient(to bottom left, #ff66cc 0%, #ff6666 75%);
  }

  #right {
    background: linear-gradient(to bottom right, #0066cc 0%, #2eb8b8 75%);
  }

  * {
    box-sizing: border-box;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #ccc;
    resize: vertical;
    transition: 0.5s;
    outline: none;
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 2px solid #000;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #fff;
  }

  input[type="button"] {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #fff;
    color: white;
    padding: 6px 25px;
    font-size: 1.1em;
    cursor: pointer;
    float: right;
    margin-top: 1%;
    transition: 0.5s;
  }

  input[type="button"]:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
  }

  .container {
    background-color: #555;
    padding: 20px;
    width: 100%;
    float: right;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (min-width: 769px) {
  .split {
    background-color: #555;
  }

  .tab {
    width: 50%;
    float: left;
  }

  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 11.5px;
    font-size: 17px;
    width: 50%;
  }

  .tablink:hover {
    background-color: #777;
  }

  .tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
    font-size: 1.2em;
  }

  #left {
    background: linear-gradient(to bottom left, #ff66cc 0%, #ff6666 75%);
  }

  #right {
    background: linear-gradient(to bottom right, #0066cc 0%, #2eb8b8 75%);
  }

  * {
    box-sizing: border-box;
  }

  input[type="text"],
  input[type="tel"],
  input[type="email"],
  textarea {
    width: 80%;
    padding: 12px;
    border: 2px solid #ccc;
    resize: vertical;
    transition: 0.5s;
    outline: none;
  }

  input[type="text"]:focus,
  input[type="tel"]:focus,
  input[type="email"]:focus,
  textarea:focus {
    border: 2px solid #000;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #fff;
  }

  input[type="button"] {
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid #fff;
    color: white;
    padding: 6px 25px;
    font-size: 1.1em;
    cursor: pointer;
    float: right;
    margin-top: 1%;
    transition: 0.5s;
  }

  input[type="button"]:hover {
    background-color: #fff;
    border: 3px solid #fff;
    color: #000;
  }

  .container {
    background-color: #555;
    padding: 20px;
    width: 50%;
    float: right;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}
